<app-content-template>
  <div content-pattern>

    <header>
      <h1 class="content-header">Factory method</h1>
    </header>

    <main>
      <p class="content-text">
        Początkowo Banda Czterech założyła, że istnieją dwa podstawowe rodzaje klasyfikacji wzorców.
        Pierwsza z nich dotyczy rodzaju wzorca i opisuje to, co on robi.
        Według tego kryterium wzorce możemy podzielić na trzy rodziny:
      </p>
      <ul class="content-text">
        <li><span class="ul-list-bold">kreacyjne (konstrukcyjne)</span> – opisujące proces tworzenia nowych obiektów; ich zadaniem jest tworzenie, inicjalizacja oraz konfiguracja obiektów, klas oraz innych typów danych;</li>
        <li><span class="ul-list-bold">strukturalne</span> – opisujące struktury powiązanych ze sobą obiektów;</li>
        <li><span class="ul-list-bold">czynnościowe (behawioralne, operacyjne)</span> – opisujące zachowanie i odpowiedzialność współpracujących ze sobą obiektów.</li>
      </ul>

      <p class="content-text">
        Początkowo Banda Czterech założyła, że istnieją dwa podstawowe rodzaje klasyfikacji wzorców.
        Pierwsza z nich dotyczy rodzaju wzorca i opisuje to, co on robi.
        Według tego kryterium wzorce możemy podzielić na trzy rodziny:
      </p>
      <ul class="content-text">
        <li><span class="ul-list-bold">kreacyjne (konstrukcyjne)</span> – opisujące proces tworzenia nowych obiektów; ich zadaniem jest tworzenie, inicjalizacja oraz konfiguracja obiektów, klas oraz innych typów danych;</li>
        <li><span class="ul-list-bold">strukturalne</span> – opisujące struktury powiązanych ze sobą obiektów;</li>
        <li><span class="ul-list-bold">czynnościowe (behawioralne, operacyjne)</span> – opisujące zachowanie i odpowiedzialność współpracujących ze sobą obiektów.</li>
      </ul>

      <p class="content-text">
        Początkowo Banda Czterech założyła, że istnieją dwa podstawowe rodzaje klasyfikacji wzorców.
        Pierwsza z nich dotyczy rodzaju wzorca i opisuje to, co on robi.
        Według tego kryterium wzorce możemy podzielić na trzy rodziny:
      </p>
      <ul class="content-text">
        <li><span class="ul-list-bold">kreacyjne (konstrukcyjne)</span> – opisujące proces tworzenia nowych obiektów; ich zadaniem jest tworzenie, inicjalizacja oraz konfiguracja obiektów, klas oraz innych typów danych;</li>
        <li><span class="ul-list-bold">strukturalne</span> – opisujące struktury powiązanych ze sobą obiektów;</li>
        <li><span class="ul-list-bold">czynnościowe (behawioralne, operacyjne)</span> – opisujące zachowanie i odpowiedzialność współpracujących ze sobą obiektów.</li>
      </ul>
    </main>


  </div>
  <div content-config>
    KONFIG
  </div>
</app-content-template>
