/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css";

html, body { height: 100%; user-select: none; }
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background-color: #303030;
}

// Scrollbar
::-webkit-scrollbar {
  min-height: 150px;
  width: 4px;
  overflow: auto;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}
