mat-sidenav-container{
  min-height: 90vh;
}

mat-sidenav {
  min-height: 100%;
  //margin: 0px 12px 0 0;
  //padding-top: 90px;
  width: 220px;
  border-right: none;
  background: #f44336;
  color: #fff;
  border-radius: 0 5px 0 0;
  text-align: center;
}
mat-nav-list{
  padding: 0;
  margin: 5px;
  //position: sticky;
  //top:0;
}
mat-list-item {
  font-size: 14px !important;
  text-align: left;
}
mat-expansion-panel{
  background: inherit;
  margin-bottom: 5px;
}
mat-icon {
  margin-right: 8px;
}


//height:120px;
//overflow:scroll;
//overflow-x:hidden;
