<mat-sidenav-container class="sidenav">
<!--  <mat-sidenav mode="side" fixedInViewport="true" opened="{{getSidenavOpened()}}">-->
  <mat-sidenav mode="side" opened="{{getSidenavOpened()}}">
    <mat-nav-list>
      <span *ngFor="let item of getDPMenuNavigation()">
        <span *ngIf="item.patterns && item.patterns.length > 0">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>{{item.iconName}}</mat-icon> {{item.category}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <span *ngFor="let child of item.patterns">
                <mat-list-item (click)="addPatternUrlParameter(child.route)">
                  {{child.name}}
                </mat-list-item>
              </span>
            </mat-expansion-panel>
          </mat-accordion>
        </span>
      </span>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content  -->
  <mat-sidenav-content>
    <app-content></app-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
